In [20]:
import pandas as pd
import re

In [2]:
data=pd.read_json(r'standalone_output_01_08_2023-Copy1.json')

In [3]:
data

,href,id,short_description,product_title,update_date,views_count,owner_phone,owner_name,owner_region,city,...,color,engine,mileage,transmission,drive_train,is_new,number_of_seats,number_of_prior_owners,condition,market
0,/autos/6690604-cfmoto-300-sr,Elanın nömrəsi: 6690604,"[0.3 L, 2022 il, yeni]","CFMOTO 300 SR,",Yeniləndi: 26.07.2023,Baxışların sayı: 42545,[(051) 233-24-84],None,None,None,...,None,None,None,None,None,None,NaN,NaN,None,None
1,/autos/7611386-nissan-x-trail,Elanın nömrəsi: 7611386,"[2.0 L, 2005 il, 330 000 km]","Nissan X-Trail,",Yeniləndi: 01.08.2023,Baxışların sayı: 37,[(050) 385-46-41],Qiyamin,Sabirabad,Sabirabad,...,Ağ,2.0 L/140 a.g./Benzin,330 000 km,Avtomat,Tam,Xeyr,5.0,2.0,"Vuruğu yoxdur, rənglənməyib",Rəsmi diler
2,/autos/7611387-kanuni-trodon-xs-50,Elanın nömrəsi: 7611387,"[0.1 L, 2022 il, 1 438 km]","Kanuni Trodon XS 50,",Yeniləndi: 01.08.2023,Baxışların sayı: 27,[(055) 201-81-77],Sabir,Bakı,Bakı,...,Mavi,0.1 L/6 a.g./Benzin,1 438 km,Avtomat,Arxa,Xeyr,1.0,NaN,None,None
3,/autos/7611388-kia-optima,Elanın nömrəsi: 7611388,"[2.0 L, 2010 il, 204 000 km]","Kia Optima,",Yeniləndi: 01.08.2023,Baxışların sayı: 22,[(055) 212-97-98],Pərvin,Sumqayıt,Sumqayıt,...,Qara,2.0 L/165 a.g./Benzin,204 000 km,Avtomat,Ön,Xeyr,1.0,NaN,Koreya,None
4,/autos/7611394-lada-vaz-2107,Elanın nömrəsi: 7611394,"[1.6 L, 2011 il, 65 000 km]","LADA (VAZ) 2107,",Yeniləndi: 01.08.2023,Baxışların sayı: 53,[(050) 419-10-20],Anar,Tovuz,None,...,None,None,None,None,None,None,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7927,/autos/7580956-lexus-rx-350,Elanın nömrəsi: 7580956,"[3.5 L, 2013 il, 112 000 km]","Lexus RX 350,",Yeniləndi: 01.08.2023,Baxışların sayı: 932,[(050) 605-00-02],Ruslan,Bakı,Bakı,...,Qara,3.5 L/277 a.g./Benzin,112 000 km,Avtomat,Tam,Xeyr,1.0,NaN,Rəsmi diler,None
7928,/autos/7272285-bentley-continental-gt,Elanın nömrəsi: 7272285,"[6.0 L, 2013 il, 38 490 km]","Bentley Continental GT,",Yeniləndi: 26.07.2023,Baxışların sayı: 21580,"[(012) 404-82-82, (050) 216-35-38]",None,None,None,...,None,None,None,None,None,None,NaN,NaN,None,None
7929,/autos/7487775-toyota-highlander,Elanın nömrəsi: 7487775,"[2.5 L, 2023 il, yeni]","Toyota Highlander,",Yeniləndi: 28.07.2023,Baxışların sayı: 8452,[(077) 386-66-85],None,None,None,...,None,None,None,None,None,None,NaN,NaN,None,None
7930,/autos/6831647-haima-8s,Elanın nömrəsi: 6831647,"[1.6 L, 2022 il, yeni]","Haima 8S,",Yeniləndi: 18.07.2023,Baxışların sayı: 50507,"[(055) 585-19-92, (012) 525-51-51]",None,None,None,...,None,None,None,None,None,None,NaN,NaN,None,None
7931,/autos/7457438-haval-jolion,Elanın nömrəsi: 7457438,"[1.5 L, 2023 il, yeni]","Haval Jolion,",Yeniləndi: 22.07.2023,Baxışların sayı: 11054,"[*7999, (055) 679-23-23, (055) 678-24-24]",None,None,None,...,None,None,None,None,None,None,NaN,NaN,None,None

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7932 entries, 0 to 7931
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   href                    7932 non-null   object
 1   id                      7910 non-null   object
 2   short_description       7932 non-null   object
 3   product_title           7932 non-null   object
 4   update_date             7932 non-null   object
 5   views_count             7932 non-null   object
 6   owner_phone             7932 non-null   object
 7   owner_name              5849 non-null   object
 8   owner_region            5849 non-null   object
 9   city                    5290 non-null   object
 10  brand                   5290 non-null   object
 11  model                   5290 non-null   object
 12  year                    5290 non-null   float64
 13  body_type               5290 non-null   object
 14  color                   5290 non-null   object
 15  engine                  5290 non-null   object
 16  mileage                 5290 non-null   object
 17  transmission            5290 non-null   object
 18  drive_train             5290 non-null   object
 19  is_new                  5290 non-null   object
 20  number_of_seats         4438 non-null   float64
 21  number_of_prior_owners  2999 non-null   float64
 22  condition               3939 non-null   object
 23  market                  2498 non-null   object
dtypes: float64(3), object(21)
memory usage: 1.5+ MB

In [59]:
data.to_excel('data.xlsx', engine='xlsxwriter')

In [45]:
# def clean_phone_numbers(phone_str):
#     # Use regex to remove non-digit characters from the phone number
#     return ''.join(filter(str.isdigit, phone_str))

# def clean_phone_numbers(phone_str):
#     # Use regex to remove non-digit characters from the phone number
#     return ''.join(filter(str.isdigit, phone_str))

# def clean_phone_numbers(phone_str):
#     # Use regex to find all occurrences of digits in the phone number
#     digits = ''.join(filter(str.isdigit, str(phone_str)))
#     return ','.join(digits[i:i+10] for i in range(0, len(digits), 10))

# def clean_phone_numbers(phone_str):
#     # Use regex to extract all digits from the phone number
#     digits = ''.join(re.findall(r'\d', str(phone_str)))
#     return digits

# def clean_phone_numbers(phone_str):
#     # Use regex to extract all digits from the phone number
#     digits = ''.join(re.findall(r'\d', str(phone_str)))
#     # Use comma as separator between phone numbers
#     return ','.join([digits[i:i+10] for i in range(0, len(digits), 10)])

# def clean_phone_numbers(phone_str):
#     # Use regex to extract all digits from the phone number
#     digits = ''.join(re.findall(r'\d', str(phone_str)))
#     # Use comma as separator between phone numbers
#     return ','.join([digits[i:i+10] for i in range(0, len(digits), 10)])

# def clean_phone_numbers(phone_str):
#     # Use regex to extract all digits from the phone number
#     digits = ''.join(filter(str.isdigit, str(phone_str)))
#     # Split digits into groups of 10 and join with commas
#     return ','.join([digits[i:i+10] for i in range(0, len(digits), 10)])
# def clean_phone_numbers(phone_str):
#     # Use regex to remove non-digit characters (including brackets) from the phone number
#     return re.sub(r'[^\d]', '', str(phone_str))

# def clean_phone_numbers(phone_str):
#     # Use regex to remove non-digit characters (including brackets) from the phone number
#     digits = re.sub(r'[^\d]', '', str(phone_str))
#     # Use comma as separator between phone numbers
#     return ','.join([digits[i:i+10] for i in range(0, len(digits), 10)])

In [58]:
# data['owner_phone_cleaned'] = data['owner_phone'].replace('[','').replace(']','')
# data['owner_phone_cleaned']

0                               [(051) 233-24-84]
1                               [(050) 385-46-41]
2                               [(055) 201-81-77]
3                               [(055) 212-97-98]
4                               [(050) 419-10-20]
                          ...
7927                            [(050) 605-00-02]
7928           [(012) 404-82-82, (050) 216-35-38]
7929                            [(077) 386-66-85]
7930           [(055) 585-19-92, (012) 525-51-51]
7931    [*7999, (055) 679-23-23, (055) 678-24-24]
Name: owner_phone_cleaned, Length: 7932, dtype: object

In [60]:
# data['owner_phone_cleaned']

In [61]:
df=pd.read_excel(r'data.xlsx')
df

,Unnamed: 0,href,id,short_description,product_title,update_date,views_count,owner_phone,owner_name,owner_region,...,color,engine,mileage,transmission,drive_train,is_new,number_of_seats,number_of_prior_owners,condition,market
0,0,/autos/6690604-cfmoto-300-sr,6690604.0,"0.3 L', '2022 il', 'yeni'","CFMOTO 300 SR,",26.07.2023,42545,0512332484,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,/autos/7611386-nissan-x-trail,7611386.0,"2.0 L', '2005 il', '330 000 km'","Nissan X-Trail,",01.08.2023,37,0503854641,Qiyamin,Sabirabad,...,Ağ,2.0 L/140 a.g./Benzin,330 000 km,Avtomat,Tam,Xeyr,5.0,2.0,"Vuruğu yoxdur, rənglənməyib",Rəsmi diler
2,2,/autos/7611387-kanuni-trodon-xs-50,7611387.0,"0.1 L', '2022 il', '1 438 km'","Kanuni Trodon XS 50,",01.08.2023,27,0552018177,Sabir,Bakı,...,Mavi,0.1 L/6 a.g./Benzin,1 438 km,Avtomat,Arxa,Xeyr,1.0,NaN,NaN,NaN
3,3,/autos/7611388-kia-optima,7611388.0,"2.0 L', '2010 il', '204 000 km'","Kia Optima,",01.08.2023,22,0552129798,Pərvin,Sumqayıt,...,Qara,2.0 L/165 a.g./Benzin,204 000 km,Avtomat,Ön,Xeyr,1.0,NaN,Koreya,NaN
4,4,/autos/7611394-lada-vaz-2107,7611394.0,"1.6 L', '2011 il', '65 000 km'","LADA (VAZ) 2107,",01.08.2023,53,0504191020,Anar,Tovuz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7927,7927,/autos/7580956-lexus-rx-350,7580956.0,"3.5 L', '2013 il', '112 000 km'","Lexus RX 350,",01.08.2023,932,0506050002,Ruslan,Bakı,...,Qara,3.5 L/277 a.g./Benzin,112 000 km,Avtomat,Tam,Xeyr,1.0,NaN,Rəsmi diler,NaN
7928,7928,/autos/7272285-bentley-continental-gt,7272285.0,"6.0 L', '2013 il', '38 490 km'","Bentley Continental GT,",26.07.2023,21580,"0124048282,0502163538",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7929,7929,/autos/7487775-toyota-highlander,7487775.0,"2.5 L', '2023 il', 'yeni'","Toyota Highlander,",28.07.2023,8452,0773866685,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7930,7930,/autos/6831647-haima-8s,6831647.0,"1.6 L', '2022 il', 'yeni'","Haima 8S,",18.07.2023,50507,"0555851992,0125255151",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7931,7931,/autos/7457438-haval-jolion,7457438.0,"1.5 L', '2023 il', 'yeni'","Haval Jolion,",22.07.2023,11054,"*7999,0556792323,0556782424",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df['owner_phone_cleaned'] = df['owner_phone'].str.split(',')

# Explode the list of phone numbers into separate rows
df_exploded = df.explode('owner_phone_cleaned', ignore_index=True)
df_exploded

,Unnamed: 0,href,id,short_description,product_title,update_date,views_count,owner_phone,owner_name,owner_region,...,mileage,transmission,drive_train,is_new,number_of_seats,number_of_prior_owners,condition,market,phone_numbers_2,owner_phone_cleaned
0,0,/autos/6690604-cfmoto-300-sr,6690604.0,"0.3 L', '2022 il', 'yeni'","CFMOTO 300 SR,",26.07.2023,42545,0512332484,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[0512332484],0512332484
1,1,/autos/7611386-nissan-x-trail,7611386.0,"2.0 L', '2005 il', '330 000 km'","Nissan X-Trail,",01.08.2023,37,0503854641,Qiyamin,Sabirabad,...,330 000 km,Avtomat,Tam,Xeyr,5.0,2.0,"Vuruğu yoxdur, rənglənməyib",Rəsmi diler,[0503854641],0503854641
2,2,/autos/7611387-kanuni-trodon-xs-50,7611387.0,"0.1 L', '2022 il', '1 438 km'","Kanuni Trodon XS 50,",01.08.2023,27,0552018177,Sabir,Bakı,...,1 438 km,Avtomat,Arxa,Xeyr,1.0,NaN,NaN,NaN,[0552018177],0552018177
3,3,/autos/7611388-kia-optima,7611388.0,"2.0 L', '2010 il', '204 000 km'","Kia Optima,",01.08.2023,22,0552129798,Pərvin,Sumqayıt,...,204 000 km,Avtomat,Ön,Xeyr,1.0,NaN,Koreya,NaN,[0552129798],0552129798
4,4,/autos/7611394-lada-vaz-2107,7611394.0,"1.6 L', '2011 il', '65 000 km'","LADA (VAZ) 2107,",01.08.2023,53,0504191020,Anar,Tovuz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[0504191020],0504191020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11226,7930,/autos/6831647-haima-8s,6831647.0,"1.6 L', '2022 il', 'yeni'","Haima 8S,",18.07.2023,50507,"0555851992,0125255151",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[0555851992,0125255151]",0555851992
11227,7930,/autos/6831647-haima-8s,6831647.0,"1.6 L', '2022 il', 'yeni'","Haima 8S,",18.07.2023,50507,"0555851992,0125255151",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[0555851992,0125255151]",0125255151
11228,7931,/autos/7457438-haval-jolion,7457438.0,"1.5 L', '2023 il', 'yeni'","Haval Jolion,",22.07.2023,11054,"*7999,0556792323,0556782424",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[*7999,0556792323,0556782424]",*7999
11229,7931,/autos/7457438-haval-jolion,7457438.0,"1.5 L', '2023 il', 'yeni'","Haval Jolion,",22.07.2023,11054,"*7999,0556792323,0556782424",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[*7999,0556792323,0556782424]",0556792323
11230,7931,/autos/7457438-haval-jolion,7457438.0,"1.5 L', '2023 il', 'yeni'","Haval Jolion,",22.07.2023,11054,"*7999,0556792323,0556782424",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[*7999,0556792323,0556782424]",0556782424

In [66]:
df_exploded.to_excel('data_frame_cleaned.xlsx', engine='xlsxwriter')